<div class="container">
<div class="low">
	
<%= render 'footer_menu'%>

<div class="span6">
	<div class="footer_contents">
<h1><strong>特定商取引法に基づく表示</strong></h1>
<h5></h5>
<h6>「特定商取引に関する法律」第11条（通信販売についての広告）に基づき、以下に明示いたします。</h5>
<h5>販売業者：</h6>
<h6>うむ株式会社</h6>
<h5>運営統括責任者：</h5>
<h6>高橋秀彰</h6>
<h5>所在地：</h5>
<h6>兵庫県丹波市市島町北奥555</h6>
<h5>連絡先：</h5>
<h6>090-1735-2078</h6>
<h5>販売価格：</h5>
<h6>当社サイトに登録している販売者が独自に設定した、サイト上で表示されている商品代金（表示価格）で販売しています。</br>
ただし、当該表示価格は商品仕入れの状況などにより常に変動するため、お客様のご注文確定時のサイト上の表示価格と当社請求時のサイト上の表示価格が一致しない場合は、原則としてお客様ご注文確定時点の表示価格が商品代金となります。</br>
配送料は、当社サイトに登録している販売者が独自に設定した、サイト上で表示されている金額が配送料となります。</br>
</h6>
<h5>その他お客様負担となる費用：</h5>
<h6>消費税</h6>
<h5>商品引渡時期：</h5>
<h6>生鮮物の取り扱いとなるため、決済完了日から3日以内の発送となります。</h6>
<h5>申込の有効期限：</h5>
<h6>販売期間を限っている商品については、期間満了、もしくは当該商品の在庫が無くなった時点までとなります。</h6>
<h5>お支払方法：</h5>
<h6>商品代金引換</br>
クレジットカード決済(JCB・VISA・Master・Dinners・AMEX)</h6>
<h5>お支払期限：</h5>
<h6>商品代金引換：商品到着時に代金引き換え</br>
クレジットカード決済(JCB・VISA・Master・Dinners・AMEX)： 商品お届け後に当社から各クレジットカード会社に依頼後、各クレジットカード会社が指定するお支払い日に一括払い</h6>
<h5>不良品の返品：</h5>
<h6>生鮮物の返品・交換に関しては、原則受付ておりません。</br>
加工品については以下の条件で返品・交換を承りますので、商品到着後はすみやかに商品の状態をご確認ください。</br>
商品の品質には万全の注意を払っておりますが、配送中の事故等で商品破損が発生した場合や、お申込み内容と異なる商品が届いた場合は、商品の返品・交換について、商品到着後8日以内に、当社までお申し出ください。</br>
一度ご使用になった商品、お客様の責任でキズや汚れが生じた商品については、返品・交換はお受けできませんのでご了承ください。
上記期限を経過した場合の返品・交換はお受けできませんのでご了承ください。</br>
なお、不良品であって8日以内の返品・交換の返品・交換送料につきましては、当社負担とさせていただきます。</h6>

</div>
</div>

</div>
</div>