

<div class="container">
	<div class="low">
		<div class="span12">

<h1>会社概要</h1>

<table class="table">
					<tr>
						<th>屋号</th>
						<td>うむ株式会社</td>
						
					</tr>
					<tr>
						<th>設立</th>
						<td>2015年3月13日設立</td>
					</tr>
					<tr>
						<th>事業内容</th>
						<td>１ 農業、林業及び漁業<br>２ 農業、林業及び漁業による生産物の加工販売<br>３ 農業、林業及び漁業による生産物の流通、卸業<br>４ 農業、林業及び漁業に従事する生産者の支援、育成<br>５ インターネットを利用した第一次産業生産物の販売<br>６ インターネットサービスの企画、開発、運営<br>７ 前各号に附帯または関連する一切の業務</td>
					</tr>
					
					<tr>
						<th>代表取締役</th>
						<td>高橋秀彰</td>
					</tr>
					<tr>
						<th>所在地</th>
						<td>兵庫県丹波市市島町北奥555</td>
					</tr>
					<tr>
						<th>連絡先</th>
						<td>info@shizencyokuhan.com</td>
					</tr>

</table>

</div>
</div>
</div>

