
<div class="stats">
	
	  <a href="<%= followers_staff_customer_path(@staff_member) %>">
	<h5><strong id="followers" class="stat">
		 <%= @staff_member.followers.count %>
	</strong>
	follower
      </h5></a>

	</div>
 