<div class="container">
<div class="low">
	
<%= render 'footer_menu'%>

<div class="span6">
	<div class="footer_contents">
<h1><strong>登録禁止商品</strong></h1>
<h5></h5>
<h5>会員は、本サービスの利用にあたり、以下の商品を登録してはなりません。</h5>
<h6>1.覚せい剤、麻薬、向精神薬、大麻、あへん、毒物、劇物等の禁制品</h6>
<h6>2.大麻種子、合法ハーブ(脱法ハーブ)、合法ドラッグ（脱法ドラッグ）に関連する商品等</h6>
<h6>3.銃砲、刀剣類、武器、火薬類、化学兵器等</h6>
<h6>4.アダルトビデオ、DVD、ヌード写真、アダルトグッズ、ゲーム等、18歳未満の青少年への販売を制限する情報やその他性風俗、アダルトに関する商品全般</h6>
<h6>5.わいせつ物、児童ポルノに関連する商品等</h6>
<h6>6.使用済み下着、制服等</h6>
<h6>7.売春、児童売春</h6>
<h6>8.賭博、富くじに関連する商品等</h6>
<h6>9.無限連鎖講、マルチ商法に関連する商品等</h6>
<h6>10.たばこ</h6>
<h6>11.偽造通貨、公文書（免許証、旅券等含む）、会員権、文書、電磁的記録等の商品</h6>
<h6>12.銀行口座等</h6>
<h6>13.商品券、プリペイドカード、印紙、切手、回数券、その他の有価証券等の金券類（ただし、当社から事前に販売許可を得ているものに関しては販売を認めます。）</h6>
<h6>14.偽ブランド品、模造品・海賊版（違法コピー商品等）</h6>
<h6>15.マジコン、パンドラバッテリー等の違法コピーを助長させる機器または関連商品</h6>
<h6>16.窃盗、強盗、詐欺、恐喝、横領、背任その他犯罪により入手した商品</h6>
<h6>17.エアガン、スタンガン、催涙スプレー、法令により携行を禁止された刃物、盗聴器、超小型カメラ、赤外線カメラ等犯罪に使用される恐れがある商品</h6>
<h6>18.特許権、実用新案権、意匠権、商標権、著作権、肖像権等第三者の知的財産権を侵害する商品等</h6>
<h6>19.コンピュータウィルスを含むソフトウェア、コピープロテクトを権限なく解除したデジタルコンテンツ、又はコピープロテクトを回避する等の方法を教示するようなもの</h6>
<h6>20.ゲーム等におけるキャラクター、アイテム、ゲーム内仮想通貨等のデータ等（いわゆるリアルマネートレーディング）</h6>
<h6>21.ビットコイン（Bitcoin)、モナコイン（Monacoin）、リップル（Ripple）等の暗号通貨</h6>
<h6>22.身体機能検査キット、医療機器（医療用具）、医薬品、また国内で販売が禁止されている医薬品 <br>※ただし、薬事法上の高度管理医療機器の販売業許可を得ている商品で当社から事前に販売許可を得ているものに関しては販売を認めます。</h6>
<h6>23.人体及び人体の一部</h6>
<h6>24.動物の生体及び生体の一部、昆虫等の生物</h6>
<h6>25.個人情報、営業秘密その他一般に公開されていない情報</h6>
<h6>26.販売に際して法律で義務付けられている許認可、免許、資格等の条件を満たしていない商品</h6>
<h6>27.公序良俗に違反する商品</h6>
<h6>28.その他取引することが法令（特定商取引に関する法律、銃砲刀剣類所持等取締法、麻薬及び向精神薬取締法、ワシントン条約、その他関連条約等あらゆる法令を含む）に違反する商品</h6>
<h6>29.その他、当社が適切ではないと判断した商品</h6>
</div>
</div>

</div>
</div>

