<div class="container">
<div class="low">
	
<%= render 'footer_menu'%>

<div class="span6">
	<div class="footer_contents">
<h1><strong>自然栽培ちょくはん とは</strong></h1>
<h5>お野菜を購入できる！</h5>
<h6>全国の自然農、自然栽培で農作物を作っている、生産者さんから直接、新鮮なお野菜を購入できるウェブサイトです。</h5>
<h5>農家さんを探せる！繋がれる！</h6>
<h6>農作物を購入できる他、農家さんが参加、主催するイベント情報や、いつ農作物を販売できるかといった、農家さんのスケジュールを知る事が出来ます。自分の興味のある農家さんをフォローしておくと、ご自身のmypageに最新スケジュールが届きます。</h6>
<h5>農家さんから今すぐ、単品からお野菜を購入できる！</h5>
<h6>今すぐ、農産物を購入したい時は、ステータスが「開店」になっている農家さんのページを訪問してみましょう。現在購入可能な商品を見つける事ができます。</h6>
</div>
</div>

</div>
</div>