
               <section  id="about" class="pt90 gray-bg pb90">
            <div class="container">
                <div class="s-row">
<div class="margin15">
<%= link_to "ホーム", :customer_root %> > ちょくはんの野菜基準 </div>
    <div class="margin15"><%= link_to 'http://www.facebook.com/sharer.php?u='+customer_static_pages_rule_url, :target => :blank do %> <%= image_tag 'FB.png' , :width => "20px" %>share<% end %></div>

                <div class="col-md-8 offset-md-2 text-center">

                    <h1>自然栽培ちょくはんの自然栽培</h1>
                        <p class="lead mb70">
                           
                        </p>
                    </div>
                    <div class="col-md-4 col-lg-4 mb40">
                        <div class="icon-box">
                            <i><span class="ion-checkmark-circled"></span></i>
                            <h1><span class="under">栽培期間中 農薬不使用</span></h1><br>
                            <p>
                                自然栽培のお野菜には自然と、病気や害虫による被害が出にくい為、農薬を使用する必要がありません。</p>
                        </div>
                    </div><!--/column-->
                    <div class="col-md-4 col-lg-4 mb40">
                        <div class="icon-box">
                            <i><span class="ion-checkmark-circled"></span></i>
                            <h1><span class="under">無化学肥料</span></h1><br>
                            <p>
                                私たちは植物が生きている最中に呼び寄せる微生物によって土を肥やします。私たちが土に直接肥料を入れる事はありません。</p>
                        </div>
                    </div><!--/column-->
                    <div class="col-md-4 col-lg-4 mb40">
                        <div class="icon-box">
                            <i><span class="ion-checkmark-circled"></span></i>
                            <h1><span class="under">無施肥</span></h1><br>
                            <p>
                                私たちは肥料だけでなく、土壌改良資材など、土壌の生物性に直接影響を与えるものを使用しません。自然の循環だけで土を肥やします。  </p>
                        </div>
                    </div><!--/column-->
                    <!--<div class="col-md-6 col-lg-3 mb40">
                        <div class="icon-box">
                            <i class="icon_chat_alt"></i>
                            <h4></h4>
                            <p>
                                Maecenas sollicitudin luctus neque at auctor sum lacinia. Phasellus conseodio vitae semper.</p>
                        </div>
                    </div>--><!--/column-->
                </div><!--/row-->
            </div><!--/container-->
        </section><!--/about-->
        <section class="pt90 pb40">
            <div class="container">
                <div class="s-row">
                    <div class="col-md-8 offset-md-2 text-center">
                        <h1>自然栽培ちょくはんの木質有機栽培</h1>
                         <p class="lead mb70">
                           
                        </p>
                    </div>
                </div>
                <div class="s-row">
                    <div class="col-md-4 col-lg-4 mb40">
                        <div class="icon-box">
                            <i><span class="ion-checkmark-circled"></span></i>
                            <h1><span class="under">栽培期間中 農薬不使用</span></h1>
                            <p>
                                自然栽培のお野菜同様、病気や害虫による被害が出にくい為、農薬を使用する必要がありません。</p>
                        </div>
                    </div><!--/column-->
                    <div class="col-md-4 col-lg-4 mb40">
                        <div class="icon-box">
                            <i><span class="ion-checkmark-circled"></span></i>
                            <h1><span class="under">無化学肥料</span></h1>
                            <p>
                                私たちは植物が生きている最中に呼び寄せる微生物によって土を肥やします。自然界のバランスを重視し、ある特定の成分が高濃度で存在する肥料を使用せず、その環境の持つ自然のサイクルが安定して回る栽培を行います。</p>
                        </div>
                    </div><!--/column-->
                    <div class="col-md-4 col-lg-4 mb40">
                        <div class="icon-box">
                            <i><span class="ion-checkmark-circled"></span></i>
                            <h1><span class="under">ノンケミカル</span></h1>
                            <p>
                                家畜の飼料のほとんどを海外輸入に頼る、昨今、プレハーベスト、ポストハーベストの農薬、化学薬品の影響は無視できません。自然栽培ちょくはんにご登録いただいている農家さんは、ケミカルの混入の危険性があるものを使わないよう、身近な植物性の資材を適度に使用しています。 </p>
                        </div>
                    </div><!--/column-->
                    <!--<div class="col-md-6 col-lg-3 mb40">
                        <div class="icon-box">
                            <i class="icon_chat_alt"></i>
                            <h4></h4>
                            <p>
                                Maecenas sollicitudin luctus neque at auctor sum lacinia. Phasellus conseodio vitae semper.</p>
                        </div>
                    </div>--><!--/column-->
                </div><!--/row-->
            </div><!--/container-->
        </section><!--/about-->


<section  id="about" class="pt90 gray-bg pb90">
            <div class="container">
                <div class="s-row v-align-children">
                    <div class="col-lg-5">
                        <h1 class="font300 mb30 mt30">自然栽培ちょくはんの種子 <br>ー固定種・在来種ー</h1>
                        <p class="black">
                            自然栽培ちょくはんでは、未来を見据えて、種子を繋げていける＜固定種・在来種＞の作付けをお願いしています。
                            できる限る、自分たちで種子を繋ぐことにより、それぞれの土地に順応した健康な作物をお届けできるよう積極的な品種の固定化や専門家の知見を活かした育種などに取り組んで参ります。
                        </p>
                    </div><!--/col/-->
                    <div class="col-lg-4 offset-lg-1">
                        <%= image_tag "shizenyasai.gif", :class => "img-fluid"%>
                    </div><!--/col/-->
                </div><!--/row/-->
            </div><!--/container/-->
        </section><!--feature 1 end-->
 

 
