<h1>自然栽培ちょくはん　へようこそ！</h1>
<h4>自然栽培ちょくはんの販売アカウント初期登録が完了しました。</h4>
<h3>あなたのアカウント名は<%= @staff_member.email %>です。</h3>
<br>
<h2>全国の愛のあるお母様方が待ってます!!</h2>
<h3>自然栽培ちょくはんは、本当にいいものを家族に食べてもらいたいというお母様方を中心に、自然栽培のお野菜を求める方が集まる、販売プラットフォームです。</h3>
<h4>管理画面左側の「アカウント」から住所の登録をすると、お客様の地図検索に表示されるようになります。</h4>
<h4>他に、品目検索で探しにこられる方もいらっしゃいますので、商品登録を積極的にお願いします。</h4>
<h4>※ステータスが「閉店」もしくは、在庫が「0」の時は、商品の注文は入りませんのでご安心下さい。<h4><br>

<h4>皆さんのお野菜を必要としていらっしゃる方々がたくさんいらっしゃいます！</h4>
<h4>是非とも積極的にご活用いただければ幸いです!!</h4>
<h3>それでは、自然栽培ちょくはんでの販売、人との繋がりを是非お愉しみ下さい！</h3>
	<h3>ログインはこちら↓↓<br>http://www.shizencyokuhan.com/staff<h3>
	<h3><h3>


<h5>自然栽培ちょくはん <br> プロジェクトチーム一同</h5>
<p>
<div>自然栽培ちょくはん</div>
<div>info@shizencyokuhan.org</div>
<div>http://www.shizencyokuhan.com</div>