<h1>自然栽培ちょくはん　へようこそ！</h1>
<h4>自然栽培ちょくはんの販売アカウント初期登録が完了しました。</h4>
<h3>あなたのアカウント名は<%= @staff_member.email %>です。</h3>
<h3>お客様への一般公開は8月中を予定しております。</h3>
<h3>正式な公開日が決まりましたら、再度ご連絡させていただきます。<h3>

	<h3>販売までのフローはこちら↓↓<br>http://www.shizencyokuhan.com/<h3>
	<h3>正式な公開日が決まりましたら、再度ご連絡させていただきます。<h3>


<h5>自然栽培ちょくはん <br> プロジェクトチーム一同</h5>
<p>
<div>自然栽培ちょくはん</div>
<div>info@shizencyokuhan.org</div>
<div>http://www.shizencyokuhan.com</div>