<h1>自然栽培ちょくはん　へようこそ！</h1>
<h4>自然栽培ちょくはんの販売アカウント初期登録が完了しました。</h4>
<h3>あなたのアカウント名は<%= @staff_member.email %>です。</h3>
<h3>β版公開時に再度、ご登録いただいたメールアドレスへご連絡させていただきます。</h3>
<h3>完成まで、今しばらくお待ち下さい。<h3>
<h5>自然栽培ちょくはん <br> プロジェクトチーム一同</h5>
<p>
<div>自然栽培ちょくはん</div>
<div>info@shizencyokuhan.org</div>
<div>http://www.shizencyokuhan.com</div>