
<table class="table">	
 <tr>
      <th>品目</th>
      <th>品種</th>
      <th>注文数</th>
      <th>小計</th>
      
    </tr>

	<tr id="current_item">
	<% else %>
	<tr>
		<td><%= line_item.product.category %></td>
			<td><%= line_item.product.variety %> </td>
		<td> &times;<%= line_item.quantity %></td>
		<td class="item_price"><%= sprintf("¥%0.0f", line_item.total_price) %>（税込）</td>
	</tr>
	
</table>
