<div class="container">
  <div class="row">
    <div class="span12">
      
<% @title = '加工品' %>
<% @title2 = '登録'%>

<h2 class="text-pink">
<%= @title %>
<strong><%= @title2 %></strong>
</h2>


<div id="generic-form">
  <%= form_for [ :staff, @product ] do |f| %>
  <%= render 'pg_form', f: f %>
  

  <% end %>
</div>
</div>
</div>
</div>
