<div class="container">
<div class="low">
	
<%= render 'tutorial'%>

<div class="span6">
	<div class="footer_contents">
<h1><strong>追加情報の登録</strong></h1>
<h5>１：管理画面の「追加情報登録」ボタンから以下の項目について編集して頂けます。</h5>
<h6>
・「農地のコンディション」<br>
・「そのコンディションの年数」<br>
・「看板野菜」<br>
・「お店、農地の説明」</h6>
<h5>２：各項目の入力が終了したら、「追加情報を更新」ボタンをクリックして下さい。</h5>
<h6></h6>
<h5>「農地のコンディション」について</h5>
<h6>プルダウンより当てはまる農地のコンディションを選択して下さい。
生産者様のトップページと投稿いただいたスケジュールに記載されます。</h6>
<h5>「そのコンディションの年数」について</h5>
<h6>プルダウンより当てはまる農地のコンディションになってから経過した年数を選択して下さい。
生産者様のトップページと投稿いただいたスケジュールに記載されます。</h6>
<h5>「看板野菜」について</h5>
<h6>ご自身の作っている野菜で最も食べてもらいたいものをプルダウンより選択して下さい。
トップページと投稿いただいたスケジュールに記載されます。
各品目の特集などで、お客様に生産者様をレコメンドさせていただきます。</h6>
<h5>「お店、農地の説明」について</h5>
<h6>自由記述になっております。入力された「改行」、「スペース」を反映して表示されます。
生産者様のトップページに表示されます。
</h6>



</div>
</div>

</div>
</div>