<div class="container">
<div class="low">
	
<%= render 'tutorial'%>

<div class="span6">
	<div class="footer_contents">
<h1><strong>売上振込先の登録</strong></h1>
<h5>１：管理画面の「売上振込先」ボタンから、売上があった際の振込先を登録できます。</h5>
<h6></h6>
<h5>２：以下の必須項目を入力して、「口座情報を更新」ボタンをクリックして下さい。
</h6>
<h6>
・「金融機関名」<br>
・「支店名」<br>
・「口座種別」<br>
・「口座名義」<br>
・「口座番号」</h6>
<h5>「売上振込先」について</h5>
<h6>本サービスにおいて、生産者様の登録された商品の売上をお振り込みする口座になります。
</h6>
<h5>お振込金額の計算</h5>
<h6>[売上がクレジットカード決済のみの場合]<br>
「クレジットカードでの売上」は、決済金額から金額の10％（サービス利用料金）を差し引いた金額を
月末締め翌々月15日に、ご登録の口座にお振込いたします。<br><br>

[売上が代金引き換えのみの場合]<br>
「代金引き換えでの売上」は、お客様と配送業者様との直接のご契約となります。<br>
決済金額の10％（サービス利用料金）を月末締め、翌々月15日支払いにて、
以下の指定金融機関口座へお振込ください。<br>
弊社から月末締めにて、ご請求内容が確定した旨のメールをお送りいたします。<br><br>

金融機関名　中兵庫信用金庫<br>
支店名　　　市島支店<br>
口座種別　　普通<br>
口座名義　　うむ（カ<br>
口座番号　　000000000<br><br>

[売上がクレジットカードと代金引き換えの両方存在する場合]<br>
「クレジットカードでの売上」と「代金引き換えでの売上」の両方が存在する場合は、
金融取引の簡素化の為、金額の相殺を行います。<br><br>

「クレジットカード決済において確定したお振込予定金額」が「代金引き換え決済において確定したサービス利用料金」を
上回っている場合、「クレジットカード決済において確定したお振込予定金額（弊社のお振込予定金額）」から
「代金引き換え決済において確定したサービス利用料金（生産者様のお振込予定金額）」を差し引いた金額を
月末締め翌々月15日に、ご登録の口座にお振込いたします。<br><br>

「クレジットカード決済において確定したお振込予定金額」が「代金引き換え決済において確定したサービス利用料金」を
下回っている場合、「代金引き換え決済において確定したサービス利用料金（生産者様のお振込予定金額）」から
「クレジットカード決済において確定したお振込予定金額（弊社のお振込予定金額）」を差し引いた金額を
月末締めにてご請求させていただきます。<br>
翌々月15日までに指定金融機関口座へお振込下さい。<br>

</h6>

</div>
</div>

</div>
</div>