<div class="container">
<div class="low">
	
<%= render 'footer_menu'%>

<div class="span6">
	<div class="footer_contents">
<h1><strong>免責事項</strong></h1>
<h6>　当サイトは、うむ株式会社が、「現状有姿」でかつ「利用可能な時点」で提供しています。うむ株式会社は、当サイトの運営、または当サイトに掲載されている情報、コンテンツ、素材、商品に関し、明示的であるか黙示的であるかにかかわらず、いかなる種類の表明も保証もいたしません。お客様は、ご自分の責任で当サイトをご利用になることに明示的に同意します。うむ株式会社は、その裁量により、当サイトより情報を取り消すまたは削除する権利を留保します。 </br>
　うむ株式会社は、適用される法律によって認められる限り、商品性および特定の目的に対する適合性の黙示的な保証を含むがこれに限定されない保証を、明示的であるか黙示的であるかにかかわらず、一切いたしません。</br>
うむ株式会社は、当サイト、そのサーバー、うむ株式会社から送信されたEメールが、ウイルス、またはその他の有害な要素に感染していないことを保証いたしません。</br>
　うむ株式会社は、直接的、間接的、付随的、懲罰的、必然的な損害を含むがこれに限定されない、当サイトの使用から生じるいかなる種類の損害に対しても責任を負うものではありません。ただし、管轄区域の法律によっては、黙示的な保証、ある種の損害の例外または制限を認めていません。そのような法律が適用される場合は、上記の免責事項、例外、制限の全部または一部が適用されず、お客様は追加的な権利を有することがあります。</h6>

</div>
</div>

</div>
</div>