<div class="container">
<div class="low">
	
<%= render 'tutorial'%>

<div class="span6">
	<div class="footer_contents">
<h1><strong>機能２：</strong></h1>
<h5></h5>
<h6>「特定商取引に関する法律」第11条（通信販売についての広告）に基づき、以下に明示いたします。</h5>
<h5>販売業者：</h6>
<h6>うむ株式会社</h6>
<h5>運営統括責任者：</h5>
<h6>高橋秀彰</h6>
<h5>所在地：</h5>
<h6>兵庫県丹波市市島町北奥555</h6>
<h5>連絡先：</h5>
<h6>090-1735-2078</h6>
<h5>販売価格：</h5>
<h6>サービスへのお申し込み、ご登録に費用はかかりません。
</h6>
<h5>必要手数料：</h5>
<h6>サービス自体への手数料等はございません。クレジットカード決済、代金引換での決済後、販売手数料として売上の10％を頂戴しております。</h6>
<h5>商品引渡時期：</h5>
<h6>決済完了日から3日以内の商品発送をお願いしております。</h6>
<h5>申込の有効期限：</h5>
<h6>販売期間を限っている商品については、期間満了、もしくは当該商品の在庫が無くなった時点までとなります。</h6>
<h5>お支払方法：</h5>
<h6>クレジットカード決済の場合：</br>販売アカウントにご登録いただいている、銀行口座へ販売手数料を差し引いた差額をお振込いたします。<br/></br>
代金引換での決済の場合：</br>売上月の末締め、翌月末払いにて代金引換分の売上総額の10％を以下の口座へお振込下さい。</br>
売上月の翌月一週目にご請求書を送付させていただきます。</br></br>
金融機関名：中兵庫信用金庫</br>
支店名：市島支店</br>
口座名義：うむ(カ)</br>
口座種別：普通</br>
口座番号：000000000</br>
</h6>
<h5>お支払期限：</h5>
<h6>クレジットカード決済(JCB・VISA・Master・Dinners・AMEX)： </br>クレジット決済会社との取引完了後のお支払いとなる為、当月締め、翌々月15日払いのお支払いとなります。何卒ご了承下さいますよう宜しくお願い致します。</br></br>
商品代金引換：</br>当月締め、翌月末日払いにてお願いいたします。売上月の翌月一週目にご請求書を送付させていただきます。</h6>
<h5>不良品の返品：</h5>
<h6>生鮮物の返品・交換に関しては、原則受付けておりません。</br>
加工品については以下の条件で返品・交換を承りますので、商品到着後はすみやかに商品の状態をご確認ください。</br>
商品の品質には万全の注意を払っておりますが、配送中の事故等で商品破損が発生した場合や、お申込み内容と異なる商品が届いた場合は、商品の返品・交換について、商品到着後8日以内に、当社までお申し出ください。</br>
一度ご使用になった商品、お客様の責任でキズや汚れが生じた商品については、返品・交換はお受けできませんのでご了承ください。
上記期限を経過した場合の返品・交換はお受けできませんのでご了承ください。</br>
なお、不良品であって8日以内の返品・交換の返品・交換送料につきましては、当社負担とさせていただきます。</h6>

</div>
</div>

</div>
</div>