<div class="container">
<div class="low">
	
<%= render 'footer_menu'%>

<div class="span6">
	<div class="footer_contents">
<h1><strong>自然栽培ちょくはん とは</strong></h1>
<h5>お野菜を売りたい時に、売りたいだけ販売できる！</h5>
<h6>販売スケジュールを予め告知できるため、販売前に見込み客を集める事ができます。登録した在庫数が無くなるまで、もしくは店舗ステータスを閉店にするまで、販売をする事が出来ます。</h6>
<h5>自然栽培、自然農法の野菜を求めている消費者と繋がれる！</h6>
<h6>当サイトにご登録して頂いているユーザーは、大都市圏にお住まいで、すでに自然栽培や自然農法で作られた野菜を求めている、お母様方が中心です。是非、愛情たっぷりに育った野菜達を、愛の溢れる母親の皆様にご提供下さい。</h6>
<h5>実地で行われるイベントへの集客や、地元とのリレーションを構築できる！</h5>
<h6>当サイトには、消費者の方々が興味のある農家さんをフォローできる機能がついています。フォローされると、皆様が登録した、販売スケジュール、イベント告知が、フォロワーのマイページにフィード一覧で表示される様になります。既に登録済みのスケジュールを、後からフォロワーにプッシュすることもできます。フォロワーは管理者アカウントのページからご確認頂けます。</h6>
</div>
</div>

</div>
</div>