<div class="container">
<div class="low">
	
<%= render 'footer_menu'%>

<div class="span6">
	<div class="footer_contents">
<h1><strong>プライバシーポリシー</strong></h1>
<h6>自然栽培ちょくはん（以下、「当社」といいます。）は、より良いサービス提供のため、氏名、住所、電話番号、メールアドレスその他の個人情報をお預かりする場合があります。
</br>当社は、個人情報保護に関する法令を遵守し、安心して当社のサービスである自然栽培・自然農法直販をご利用いただけるように、 以下の通り、当社における個人情報の取扱いについて（以下、「個人情報の取扱い」といいます。）を定めます。 「個人情報の取扱い」は、当社が事業を行うにあたり、お客様、従業者およびその他関係者等（以下、「お客様等」といいます。）の個人情報の取り扱いにつき、 どのような方針で利用・管理するかについて明らかにするものです。</h5>
<h5>１．個人情報</h6>
<h6>当社は、より良いサービス提供のため、お客様等の正確な氏名、住所、電話番号、FAX番号、性別、メールアドレス、生年月日、銀行口座番号、購入履歴、家族構成、職業、役職、保有資格、年間収入その他財産情報、 趣味、嗜好、ＩＤ、自身の運営するブログまたはホームページ等ＵＲＬ、ＳＮＳのアカウントID、ＩＰアドレス、携帯電話の固体識別番号、訪れたホームページの情報およびその他アクセスログ、苦情、ご相談 またはお問い合せの情報、音声情報、顔写真等の画像情報、その他サービス提供に必要な情報等、または、お客様がオーダーメイドギフト商品のご購入を希望された場合には、商品のカスタマイズ等に必要な、 血液型、身長、体重、指輪のサイズ、その他の身体的情報等であって、これらのうちの１つあるいは２つ以上を組み合せることによって、特定の個人を識別できる個人情報をお預かりします。 なお、個人情報にはお客様等ご本人の個人情報に加え、ご家族ご友人等およびお届け先の個人情報等、お客様等を通じて間接的に取得したものも含まれます。</h6>
<h5>２．個人情報の利用目的</h5>
<h6>当社は、お客様等の個人情報を以下の目的のために利用いたします。</br>

個人情報の種別</br>
利用目的</br>
ⅰ．お客様に関する個人情報</br>
（１）当社および第三者の商品・権利・サービス等の販売、配送、支払いにかかる業務の遂行のため</br>
（２）贈答品をご本人に代わってお送りするため（お届け先に指定された方の個人情報を発送のために利用します）</br>
（３）当社および第三者の商品等の広告または宣伝（電子メールの送信およびチラシ、その他のダイレクトメールの送付を含む）またはメールマガジン送信のため</br>
（４）キャンペーン、アンケートのお知らせ、サービス改善ヒアリング等のお願いを行うため</br>
（５）キャンペーン等の実施および当選の連絡、景品等の発送等を行うため</br>
（６）セミナー、イベントの管理を行うため</br>
（７）ポイントサービス、アフィリエイトサービスの提供のため</br>
（８）マーケティング活動およびマーケティングデータの調査統計分析のため</br>
（９）お客様情報管理、その他の各種連絡、対応管理等のため</br>
（１０）製品やサービス等のサポートおよび問合せ等に対応するため</br>
（１１）対面営業を含むマーケティング活動のため</br>
（１２）マーケティングデータの調査統計分析のため</br>
（１３）当社の商品・サービス等の開発、改善のため</br>
（１４）システムの維持、不具合対応のため</br>
（１５）当社に個人情報を登録している会員が、当社または子会社の提供する別サービスを利用する場合、会員登録等作業の簡素化を行うため</br>
（１６）取引先等より個人情報の取扱業務を委託された場合、委託された業務の遂行のため </br>（商品の発送代行および発送に伴う連絡等を含む）</br>
（１７）契約や法律等に基づく権利の行使や義務の履行のため</br>
（１８）郵便の宛先確認、マーケティング活動及び広告宣伝のために、他社が保持しているソースと突き合わせるため</br>
（１９）その他当社の各サービスにおいて個別に定める目的のため</br>
（２０）その他の各種連絡、対応管理、関連資料の送付等</br>
お電話でお問い合わせいただいた場合には、上記の目的および円滑な業務遂行を目的としたオペレータ教育に利用するために、録音させていただくことがあります。</br>

ⅱ．取引先各社（個人を含む）、他社の役員・社員等に関する個人情報</br>
（１）業務上必要な諸連絡（挨拶状送付を含む）、協力、交渉、契約の履行、履行請求等のため</br>
（２）取引先情報管理、支払・収入処理のため</br>
（３）お客様等に対する生産地および商品等紹介およびこれにかかる販売促進・広報宣伝のため</br>
（４）会社案内・事業報告書・会社年史等の記録物への掲載のため</br>
（５）当社サービス、イベント等のご案内のため</br>
（６）アンケート協力依頼、その他各種統計資料作成のため</br>
（７）当社内に入場される場合、当社の営業秘密等の保護管理の観点からご本人を特定するため</br>
（８）労働者派遣事業の適正な運営の確保及び派遣労働者の就業条件の整備等に関する法律および労働安全衛生法等の法令に定められた義務を履行するため</br>
（９）当社の従業者および取引先の法令遵守状況確認のため</br>
ⅲ．官公庁の職員・公務員等に関する個人情報</br>
（１）所管官庁への業務上必要な連絡・報告・問合せ等のため</br>
（２）当社および当社の従業者の法令遵守状況確認のため</br>
ⅳ．他の事業者等から個人情報の取扱業務の委託を受けた個人情報</br>
取引先との契約履行（委託された業務の遂行）等のため</br>
ⅴ．株主に関する個人情報</br>
（１）法令に基づく権利の行使・義務の履行のため</br>
（２）株主としての地位に関し、当社から各種便宜を供与するため</br>
（３）株主と会社の関係の中でも、社団の構成員と社団という観点から双方の関係を円滑にするための各種の方策を実施するため</br>
（４）法令に基づく株主管理（株主データ作成等）のため</br>
お電話でお問い合わせいただいた場合には、上記の目的および円滑な業務遂行を目的としたオペレータ教育に利用するために、録音させていただくことがございます。</br>
ⅵ．イベント等参加者に関する個人情報</br>
（１）連絡、イベントの関連情報の提供のため</br>
（２）関連商品またはサービスの案内、取引先から委託を受けた調査、分析、宣伝、広告業務の遂行等のため</br>
（３）イベント等紹介およびこれにかかる販売促進・広報宣伝のため</br>
（４）会社案内・事業報告書・会社年史等の記録物への掲載のため</br>
（５）その他個別のイベント等において個別に定める目的のため</br>
ⅶ．従業者に関する個人情報</br>
従業者管理のため</br>
ⅷ．上記１．～６．以外で、当社へお問い合わせされた方及び当社を来訪された方等に関する個人情報</br>
連絡、対応管理、関連資料の送付等のため</br>

当社は、個人情報をお預かりする際にお知らせした利用目的の合理的な範囲を超えてお客様等の個人情報を利用いたしません。これらの目的以外に利用する必要が生じた場合は、事前にお客様等にその旨を通知いたします。</br>

</h6>

<h5>３．本人が個人情報を与えることの任意性について</h5>
<h6>ご本人が個人情報を与えることの任意性および当該情報を与えなかった場合に本人に生じる結果につきまして、個人情報の提出はご本人の任意ですが、当社の業務遂行上必要な情報となります。したがって、個人情報の提供が不十分、不正確であったり、または個人情報の提供を拒絶（個人情報の削除または消去等の措置を含む）したこと（以下、総称して「個人情報が提供されなかった場合」といいます。）により、当社の業務遂行に支障をきたし、商品が届かない等お客様等への十分なサービス等の提供が出来ない、あるいはご本人へ重要な連絡が届かない、当社が実施できなくなった手続き業務をご本人自身が当社に代わって行わなくてはならない等の不利益等が発生した場合にも、その結果はご本人へ帰属しますのでご了承ください。また、個人情報が提供されなかった場合には、お問い合わせ等にお答えすることができない場合がありますのでご了承ください。</h6>

<h5>４．個人情報の管理について</h5>
<h6>当社は、お客様等の個人情報の取り扱いにつき、個人情報を管理する責任部門に個人情報保護管理責任者を置いて適切な管理を行なっています。また、従業員入社時に、個人情報保護に関する研修を実施している他、全社的に個人情報保護に関する定期研修を実施し、社員教育を徹底しています。</br>
</br>
＜個人情報の管理に関するお問合せ先＞</br>
自然栽培ちょくはん　個人情報保護管理責任者</br>
email：hideakitakahashi99@gmail.com</h6>

<h5>５．業務委託先について</h5>
<h6>当社は、インターネット通信販売事業等における商品の発送・代金決済・与信、関連するアフターサービス、新商品・サービスに関する情報のお知らせ、その他当社の事業遂行のために、当社の業務委託先に対して、最低限必要な情報に限り、お客様等の個人情報を開示する場合があります。これら業務委託先に対しては、個人情報の保護に関する契約を締結し、業務委託先が契約を遵守するよう、必要かつ適切な管理および監督を行ないます。</br></br>

注１）当社の業務委託先とは、産地直送商品の発送手配を請け負う生産・製造元、商品配送を請け負う宅配業者、決済代行機関、ご請求書宛名ラベル等の印刷・発送代行業者、クレジット会社および金融機関等、決済代行システム会社、個人信用情報機関、債権回収代行業者、当社のサービスのご案内などマーケティング代行機関、当社サービスの改善等に向けた分析を行なう調査会社等をいいます。
</h6>

<h5>６．個人情報の第三者提供について</h5>
<h6>当社は、個人情報を適切に保護し、個人情報保護法その他の法令等により認められた場合を除き、お客様等からの同意なく、個人の識別が可能な状態で個人情報を第三者に開示、提供することはありません。提供先および提供内容を特定したうえで、お客様等の同意を得た場合に限り、開示、提供いたします。ただし、以下の場合はこの限りではありません。</br>
（１）お客様の同意が得られた場合</br>
（２）法令に基づく場合</br>
（３）人の生命、身体又は財産の保護のために必要がある場合であって、本人の同意を得ることが困難である場合</br>
（４）公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難である場合</br>
（５）国の機関若しくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意を得ることによって当該事務の遂行に支障を及ぼすおそれがある場合</h6>

<h5>７．セキュリティについて</h5>
<h6>当社は、お客様等の個人情報の取り扱いに際して、管理責任者を置き、適切な管理を行なうとともに、外部への流出防止に努めています。また、外部からの不正なアクセス、さらには紛失、破壊、改ざん等の危険に対しては、適切かつ合理的なレベルの安全対策を実施し、お客様等の個人情報の保護に努めております。</br></br>

注２）当サイトでは、ＳＳＬ（Ｓｅｃｕｒｅ　Ｓｏｃｋｅｔ　Ｌａｙｅｒ）を利用した信頼性のある決済システムを導入し、さらに、ファイヤーウォール等による外部アクセス遮断を行い、お客様等の個人情報を厳重に管理しております。</br></br>

注３）サイト上の表示について、「一般的に考えてお客様等を特定可能」である個人情報を表示する画面にはパスワード認証を経ないと到達できないように配慮しています。</h6>

<h5>８．Ｃｏｏｋｉｅについて</h5>
<h6>当サイトは、サイトを利用していただく際にＣｏｏｋｉｅと呼ばれる情報を、ご利用されているコンピュータに送信する場合があります。</br>
この技術は、当サイトでショッピングの操作その他をしていただく際に同意いただく必須の事項となります。</br>
この技術を使用することにより、お客様等のプライバシー情報を勝手に閲覧するなど、ご利用環境を勝手に変更するようなことは一切ございません。</br></br>

※クッキーとは？</br>
クッキーとは、ウェブページを利用したときに、ブラウザとサーバーとの間で送受信した利用履歴や入力内容などを、お客様のコンピュータにファイルとして保存しておく仕組みです。次回、同じページにアクセスすると、クッキーの情報を使って、ページの運営者はお客様ごとに表示を変えたりすることができます。お客様がブラウザの設定でクッキーの送受信を許可している場合、ウェブサイトは、ユーザーのブラウザからクッキーを取得できます。なお、お客様のブラウザは、プライバシー保護のため、そのウェブサイトのサーバーが送受信したクッキーのみを送信します。</br></br>

※クッキーの設定について</br>
・お客様は、クッキーの送受信に関する設定を「すべてのクッキーを許可する」、「すべてのクッキーを拒否する」、「クッキーを受信したらユーザーに通知する」などから選択できます。設定方法は、ブラウザにより異なります。クッキーに関する設定方法は、お使いのブラウザの「ヘルプ」メニューでご確認ください。</br>
・すべてのクッキーを拒否する設定を選択されますと、認証が必要なサービスを受けられなくなる等、インターネット上の各種サービスの利用上、制約を受ける場合がありますのでご注意ください。</h6>

<h5>９．アクセスログについて</h5>
<h6>Google を含む第三者配信事業者によりインターネット上のさまざまなサイトに当社の広告が掲載されています。Google を含む第三者配信事業者はCookie を使用して、当ウェブサイトへの過去のアクセス情報に基づいて広告を配信します。</h6>

<h5>１０．第三者事業者の広告配信について</h5>
<h6>お客様等が当サイトをアクセスされたことについて、その操作の情報をアクセスログという形で記録しています。この情報は今後のサイトの利便性向上のためや、万一問題が発生した際の原因追及、利用状況に関する統計・分析処理などに使用するために採取をしており、それ以外の目的には使用いたしません。</h6>

<h5>１１．リンク先の第三者が運営するサイトについて</h5>
<h6>当サイト上にあるリンク先を通じてアクセスできる、第三者が運営するサイトおよびサービス等においては、当サイトの責任範囲外となり、それらで独自に収集される個人情報の利用については、当社は、関知いたしません。リンク先を閲覧される際は、その第三者が設定するプライバシーポリシーに準じることとなります。</h6>

<h5>１２．「個人情報の取扱い」の変更について</h5>
<h6>当社は、法令等の変更や必要に応じて、いつでも事前の予告なく「個人情報の取扱い」を改訂することがあります。この場合、当社は最新の「個人情報の取扱い」を当社サイト上に掲載いたします。当社は、お客様等が閲覧された当時の「個人情報の取扱い」の内容の如何にかかわらず、常に最新の「個人情報の取扱い」によりお客様の情報を取り扱いいたします。</h6>

<h5>１３．個人情報の開示等に関するお問い合わせ</h5>
<h6>当社は、ご本人であることを確認したうえで、合理的な範囲において対応いたします。また、個人情報の利用目的の通知を請求する場合、または、相談・苦情、その他お客様等の個人情報に関するお問い合わせについては、以下の「個人情報に関するお問い合わせ受付窓口」で受け付けております。</br></br>

＜個人情報に関するお問い合わせ受付窓口＞</br>
自然栽培ちょくはん お問い合わせ窓口</br>
email：info@shizencyokuhan.org</br>
</h6>

<h5>以上</br></br>

平成26年 11月25日制定</h5>
</div>
</div>

</div>
</div>