<div class="container">
<div class="low">
	
<%= render 'footer_menu'%>

<div class="span6">
	<div class="footer_contents">
<h1><strong>よくある問い合わせ</strong></h1>
<h5>Q: サービスの利用料はいくらですか？</h5>
<h6>A: 基本利用料は無料です。売上が成立した際に、販売手数料として、売上（消費税、送料込み）の10％を頂戴しております。</h6>
<h5>Q: 個人でも利用できますか？</h5>
<h6>A: 個人でも、法人でも、どなたでも利用できます。</br>
当サービスを生産者として利用する場合には、品質維持の観点から行う適正審査がございます。</br>
既に出店済みの生産者様からのご紹介、もしくは適正審査の申込みをした後、審査期間を経て、サービスをご利用いただけるようになります。</br>
商品を購入する目的での登録には、審査はございません。新規登録フォームより必要事項を入力し、会員登録を行って下さい。</h6>
<h5>Q: 販売できないものはありますか？</h5>
<h6>A: 一部販売できない商品がございます。<%= link_to 'こちら', :staff_static_pages_forbidden %>よりご確認ください。</h6>

<h5>Q: 送料を設定する事はできますか？</h5>
<h6>A: 販売アカウントのトップページ「販売条件設定」画面より設定して頂く事が可能です。</br>
送料の金額は、一律料金として、一つのみ設定が可能です。</h6>

<h5>Q: 海外からの販売も可能ですか？</h5>
<h6>A: 日本のインターネット販売に関する法令や関税法など、その他法律、条例に違反しない範囲であれば、販売可能です。</br>
決済には、日本の金融機関の口座が必要となります。</h6>

<h5>Q: 決済手段は選べますか？</h5>
<h6>A: クレジットカード決済と、代金引換での決済をご利用いただけます。</h6>

<h5>Q: 購入者が利用できるクレジットカードの種類は何ですか？</h5>
<h6>A: VISA、Master、AMEXがご利用いただけます。</h6>

<h5>Q: 販売手数料は発生しますか？</h5>
<h6>A: クレジットカード決済の場合でも、代金引換の場合でも、販売手数料として売上の10％を頂戴しております。それ以外の費用は一切かかりません。</h6>

<h5>Q: 「特定商取引法に関する表記」は必ず表示する必要がありますか？</h5>
<h6>A: 「特定商取引法に関する表記」は経済産業省により、オンラインストアを運営するにあたっての必要な表記事項となっております。</br>
特定商取引法に関する表記は、ログイン後販売アカウントのトップページ「販売条件設定」より設定していただくことが可能です。販売事業者に該当する方は、販売者情報の表示を実施していただけますようお願いいたします。</br>
特定商取引法に関する表記内容については、以下の経済産業省のウェブサイトをご確認ください。 インターネットを利用して商品の販売等を行う方が守るべきルール</h6>

<h5>Q: ストア開設の流れを教えて下さい。</h5>
<h6>A: ストア開設までの流れは以下になります。</br>
１：出店審査を完了する。</br>
２：送られてくる登録用URLにアクセスし、必要項目を記入、登録する。</br>
３：販売者アカウントにログインし、スケジュール登録、商品登録を行う。</br>
４：販売の準備が整ったらトップページにあるステータス変更ボタンを開店に変える。</br>
５：必要に応じて、「販売条件設定」、「追加情報設定」を行う。</br></br>

販売アカウントの初期登録に必要な情報は以下となります。</br>
１：団体名／法人名</br>
２：販売責任者 氏名</br>
３：メールアドレス</br>
４：任意のパスワード</br></br>

初期登録が済みましたら、販売者アカウントのトップページより「販売条件設定」、「追加情報設定」を行って下さい。
</h6>

<h5>Q: 登録したのにメールが届かない場合はどうすればよいでしょうか？</h5>
<h6>A: 以下の原因でメールが届かない場合がございます。</br>
１：登録したメールアドレスに誤りがある場合</br>
２：登録したメールアドレスの受信設定で、受信を拒否されてしまった場合</br>
３：登録したメールアドレスの受信設定で、迷惑メールに振分けられてしまった場合</br></br>

ご登録いただいたメールアドレスでログイン出来ない場合は、もう一度会員登録を試していただくか、弊社お問い合わせ窓口にご連絡下さい。</h6>

<h5>Q: 退会方法を教えて下さい。</h5>
<h6>A: 大変お手数ではございますが、一度、販売者アカウントにログインいただき、トップページ右上の「アカウント」ボタンでアカウント情報ページに入っていただき、「退会」ボタンを押して退会処理を完了して下さい。</h6>

<h5>Q: 商品が購入されたらどうすればよいですか？</h5>
<h6>A: 商品が購入されると、ご登録いただいているメールアドレスに注文確定のメールが届きます。</br>
メールを受け取ったら、決済日から3日以内に商品の発送をお願いいたします。</br>
商品の発送が完了しましたら、販売者アカウントのトップページ「売上確認」より、該当する注文を探し、左側にある「発送完了メール送信」ボタンを押して下さい。</br>
注文者に発送が完了した旨のメールが送信されます。</br></br>

フロー：</br>
１：購入者が商品を注文</br>
　　　↓</br>
２：登録しているメールアドレスに、注文確定のメールが届く</br>
　　　↓</br>
３：アカウントのトップページより「売上確認」にアクセスし、該当する注文を確認する</br>
　　　↓</br>
４：「売上確認」一覧の該当する注文の「注文票(PDF)」をダウンロードし、印刷する</br>
　　　↓</br>
５：メールの注文日から３日以内に、メールに記載されている商品と、印刷した「注文票」を同梱し、発送する</br>
　　　↓</br>
６：発送が完了したら、トップページの「売上確認」より「発送完了メール」を送信する</br>
以上</br></br>

万が一、注文された商品の発送が難しい場合は、速やかに、お客様にご一報下さい。

</h6>

<h5>Q: 注文の内容はどうすれば確認できますか？</h5>
<h6>A: ご注文が確定いたしますと、注文が確定した旨のメールが、ご登録いただいているメールアドレスに届きます。注文の内容はメールにも記載しておりますし、アカウントのトップページ「売上確認」でもご確認いただけます。</h6>

<h5>Q: 自分で商品の発送を行うのですか？</h5>
<h6>A: 発送、その他、ストアの運営に関するすべての事項が、販売者様の裁量となっております。ご不明な点がございましたら、「よくある質問」をご確認いただくか、お問い合わせ窓口にご連絡下さい。</h6>

<h5>Q: 購入者様とのやり取りはどのように行うのですか？</h5>
<h6>A: 注文確定時の自動配信メールでのご連絡以降は、原則、販売者様と購入者様の直接やり取りになります。（注：発送完了の通知に関しては、必ずアカウントのトップページ「売上確認」にある送信ボタンより行って下さい。）</br>
ご理解、ご協力を賜りますよう何卒宜しくお願い申し上げます。</h6>

<h5>Q: 購入者様より注文完了の通知が届いていない旨、連絡がありました。どうすればよいでしょうか。</h5>
<h6>A: 以下の原因でメールが届かない場合がございます。</br>
１：登録したメールアドレスの受信設定で、受信を拒否されてしまった場合</br>
２：登録したメールアドレスの受信設定で、迷惑メールに振分けられてしまった場合</br></br>

ご注文確認メールの自動送信は一度だけとなり、メールが拒否された場合などは、その旨を購入者様や販売者様へご通達する機能のご用意がございません。（その為、ご注文完了画面にて「ご注文確認メールが届かない場合は、お問い合わせください。」というご案内をしております。）</br></br>

ご不便をおかけいたしますが、上記リスクマネジメントも含め、ご参考になれば幸いです。</h6>


</div>
</div>

</div>
</div>