<div class="container">
<div class="low">
	
<%= render 'tutorial'%>

<div class="span6">
	<div class="footer_contents">
<h1><strong>販売条件の登録</strong></h1>
<h5>１：管理画面の「販売条件登録」ボタンから「送料」、「特定商取引に関する表示」、「返品、払い戻しに関する規定」
を編集して頂けます。</h5>
<h6></h6>
<h5>２：「販売条件編集」画面で各項目の編集が完了したら、「追加情報を更新」ボタンをクリックして下さい。
</h5>
<h6></h6>
<h5>「送料」について</h5>
<h6>登録された「送料」は、商品が一回購入されるたびに、合計金額に一つ、加算されます。<br>
登録がない場合は、こちらで送料の徴収は行えませんので、予めご了承下さい。</h6>
<h5>「特定商取引に関する表示」について</h5>
<h6>書式は自由になっております。入力された「改行」、「スペース」を反映して表示されます。<br>
登録されますと、お客様のトップページに「特定商取引に関する表示」というボタンが表示され、
お買い物に来られた方が閲覧できる様になります。</h6>
<h5>「返品、払い戻しに関する規定」について</h5>
<h6>書式は自由になっております。入力された「改行」、「スペース」を反映して表示されます。<br>
登録されますと、お客様のトップページに「返品、払い戻しに関する規定」というボタンが表示され、
お買い物に来られた方が閲覧できる様になります。</h6>


</div>
</div>

</div>
</div>