<div class="container">
<div class="low">
	
<%= render 'tutorial'%>

<div class="span6">
	<div class="footer_contents">
<h1><strong>商品登録から発送までの流れ</strong></h1>
<h5>１：管理画面の「農産品管理」ボタンから入り、
         「新規登録」ボタンをクリックして下さい。</h5>
<h6></h6>
<h5>２：農産品登録画面より以下の項目を入力して、「登録」ボタンをクリックして下さい。</h5>
<h6>作付け方法（＊印は必須）<br>
・品目＊<br>
・品種＊<br>
・内容量＊<br>
・価格＊<br>
・在庫数＊<br>
・説明（50文字以内）<br><br>
注：在庫数が0になると、商品一覧から「カートに入れる」ボタンが消え、購入できなくなります。</h6>


<h5>３：登録した商品の編集、削除は「農産品管理」画面から行えます。
</h5>
<h6></h6>
<h5>４：登録した商品に注文が入りますと、生産者様にメールでお知らせが届きます。</h5>
<h6></h6>
<h5>５：メールに記載されている、注文内容（品目、品種、個数等）をご確認いただき、
「管理画面」の「売上管理」ボタンで、「売上管理画面」にアクセスしてください。
</h5>
<h6></h6>
<h5>６：「売上管理画面」の履歴項目から、メールに記載されている「注文日時」が一致する注文内容を探して下さい。
</h5>
<h6></h6>
<h5>７：右端にある「詳細」ボタンから、注文内容の詳細画面に入り、「受注書（PDF）をダウンロード」ボタンをクリックし、印刷して下さい。
</h5>
<h6></h6>
<h5>８：注文内容に記載されている「支払い方法」をご確認ください。</h5>
<h6>「代金引き換え」の場合は、配達業者様とご相談の上、「代金引き換え」にて商品の発送をお願いいたします。
（代金引き換え以外で発送してしまいますと、代金の徴収が行えない状態になりますので、ご注意下さい。）<br>

「クレジット支払い」の場合、既に代金はいただいておりますので、そのまま普通伝票にて発送して下さい。</h6>
<h5>９：注文内容に合わせて、野菜の収穫、梱包、発送の準備をお願いします。</h5>
<h6></h6>
<h5>１０：印刷した「受注票」を、必ず同梱し、発送を完了して下さい。</h5>
<h6></h6>
<h5>１１：発送が完了しましたら「管理画面」にログインし、該当する注文履歴の右端にある「発送完了メール送信」ボタンを一度だけクリックして下さい。</h5>
<h6>※ブラウザの戻るボタンではなく、画面上に表示されている、完了ボタンを押して下さい。</h6>
<h5>１２：以上で、販売が完了しました。お疲れさまでした。</h5>
<h6>売上は月末締め、翌々月15日払いにて、サービス利用料金（売上の10％）を差し引いた金額を、
ご指定の口座にお振込いたします。<br>
売上が発生しましたら、「管理画面」より、売上振込先のご登録を宜しくお願いいたします。</h6>

</div>
</div>

</div>
</div>