
<div class="stats">
	  <a href="<%= following_customer_staff_member_path(current_customer) %>">
	<strong id="followers" class="stat">
		 <%= current_customer.followed_staff_members.count %>
	</strong>
	following
      </a>
	</div>
 