<div class="container">
<div class="row">
	<div class="span12">




<div class="center">
	<div class="center_img">
<%= image_tag ("shizencyokuhan_logo_1.png") %>

               

<span><h3>好きな農家さんを探してフォローしよう！</h3></span><br>
</div>
</div>
</div>
</div>
</div>