

<article>
  <%=   render '/shared/pre_header' %>
</article>
<div class="wrapper">



<div class="wrap">
<div class="tp-bar">
    <div class="container">
      <div class="openNav">
  <div class="icon"></div>
</div>
<script>
$(".openNav").click(function() {
  $("body").toggleClass("navOpen");
  $("nav").toggleClass("open");
  $(".wrapper").toggleClass("open");
  $(this).toggleClass("open");
});
</script>

      <div class="logo"> <%= link_to image_tag ('logo20140114.png'), :action => "index" %> <span class="slogan"> 全国の自然農、自然栽培農家が見つかる！繋がる！ </span> </div> 
      <!-- logo ends -->
 <div class="pull-right">
<%= link_to "農産品を購入:新規会員登録はこちら！", :customer_signup, { :class => "sbtn" }  %>
 </div>
    </div>
  </div><!-- tp-bar ends -->
  
  <div class="pull-right">
    <div class="top-nav">
    <%= link_to 'ログイン', :customer_login %> 
  </div>
  </div>
</div>




