  <label for="Panel12"><i class="ion-ios-cart cart-icon"> </i><p class="circle"><%= cart.line_items.count %></p></label>
        <input type="checkbox" id="Panel12" class="on-off" checked/>
        <ul>

<div class="cart_title"><strong>現在の注文カート</strong></div>
<table>
<%= render(cart.line_items) %>

<tr class="total_line">
	<td colspan="2">合計</td>
	<td class="total_cell"><%= sprintf("¥%0.00f", cart.total_price) %></td>
</tr>

</table>
</br>
<div class="margin15">
<%= button_to "注文する", :customer_staff_member_addresses, method: :get, :class => "btn btn-yellow" %>

</div>
</ul>


