<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
><h1>ご予約ありがとうございます！</h1>
<h4><%= @name %>様<br>
この度は奥丹波里山便をご予約いただきまして、誠にありがとうございます。</h4>
<h3>ご予約いただきました野菜ボックスは6月1週目からの出荷を予定しております。</h3>
<h3>出荷時期が近づきましたら、ご登録いただきました<%= @email %>のメールアドレス宛に、定期購入に関する詳細をお送り致します。(ご購入にはご案内致しますURLより購入手続きが必要となります。ご注意ください。)</h3>
<h3>皆様の食卓に私どものお野菜が届きます日を、心より楽しみにしております。</h3>

<h3>引き続き、奥丹波里山便を何卒宜しくお願い申し上げます。<h3>

<h5>奥丹波里山便  <br> 関係者一同</h5><br>
<h5>本件に関するお問い合わせ：info@shizencyokuhan.org <br> サポートセンター</h5

</body>
</html>

