
<div class="stats">
	  <a href="<%= followers_customer_staff_member_path(@staff_member) %>">
	<strong id="followers" class="stat">
		 <%= @staff_member.followers.count %>
	</strong>
	follower
      </a>
	</div>
 