<div class="container">
	<div class="row">
		<div class="span12">
			<% @title = '売上振込先' %>


				<h2 class="text-pink">
					<strong><%= @title %></strong>
				</h2>

				
				<div class="table-wrapper">
			<div class="links">
				
			</div>

			
			
				<%= render 'form' %>
				
			
			</div>
		</div>
		
		</div>
	</div>
