<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
<h1>自然栽培ちょくはん　へようこそ！</h1>
<h4>自然栽培ちょくはんの新規アカウント登録が完了しました。</h4>
<h3>あなたのアカウント名は<%= @customer.email %>です。</h3>
<h3>β版公開時に再度、ご登録いただいたメールアドレスへご連絡させていただきます。</h3>
<h3>完成まで、今しばらくお待ち下さい。<h3>
<h5>自然栽培ちょくはん  <br> プロジェクトチーム一同</h5><br>
<h5>本件に関するお問い合わせ：info@shizencyokuhan.org <br> サポートセンター</h5>

</body>
</html>

