<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
<h1>自然栽培ちょくはん　へようこそ！</h1>
<h4>自然栽培ちょくはんの新規アカウント登録が完了しました。</h4>
<h3>あなたのアカウント名は<%= @customer.email %>です。</h3>
<h3>早速、アカウントにログインして、農家さんを探してみましょう！！</h3>
<h3>農家さんをフォローをすれば、待ってるだけで最新チラシが届きます！</h3>
<h3>全国各地の特色あるお野菜、旬のお野菜を是非、お愉しみ下さい！！</h3>
<h3>http://www.shizencyokuhan.com/mypage</h3>
<h3><h3>
<h5>自然栽培ちょくはん  <br> プロジェクトチーム一同</h5><br>
<h5>本件に関するお問い合わせ：info@shizencyokuhan.org <br> サポートセンター</h5>

</body>
</html>


