<h1>自然栽培・自然農法直販へようこそ！</h1>
<h4>自然栽培・自然農法直販の販売アカウント初期登録が完了しました。</h4>
<h3>あなたのアカウント名は<%= @customer.email %>です。</h3>
<h3>β版公開時に再度、ご登録いただいたアカウントへご連絡させていただきます。</h3>
<h3>β版完成まで、今しばらくお待ち下さい。<h3>
<h5>うむすき株式会社  <br> 代表取締役　高橋秀彰</h5>
<p>
ご登録いただき、誠にありがとうございます！<br>
自然栽培・自然農法農家の皆様の発展に貢献できる様、努力して参ります！<br>
引き続き何卒宜しくお願いいたします！</p>
<p>
  <%= @greeting %>, find me in app/views/customer_mailer/registration_confirmation.html.erb
</p>
