

<div class="container">
  <div class="row">
<div class="span3">
    <section>
      <h2>followers</h2>
      <span><b>follower:</b> <%= @staff_member.followers.count %></span>
    </section>
  </div>

    <div class="span8">
    <section>
 
      <% if @customers.any? %>
        <table class="table">
          <% @customers.each do |customer| %>

          
          <tr>
         
            <th>氏名</th>
            <th>お住まいの地域</th>

          </tr>
          <tr>
           
            <td><%= customer.family_name %> <%= customer.given_name%></td>
            <% if customer.addresses %>
            <td>登録がありません</td>
            <% else %>
            
            <td><%= customer.addresses.first.prefecture %></td>
            <% end %>

          </tr>
          
  
         
          <% end %>
        </table>
          <% end %>
       
     
    </section>
  </div>
</div>
</div>
