.block {
    padding: 20px;
    background: #fff;
    border: 4px #66cdaa solid;
    position: relative;
    z-index: 10;
}
 
.block:before {
    content: "";
    position: absolute;
    background: #fff;
    margin: 3px;
    border: 2px #7accb0 solid;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    z-index: -10;
}
.span1 {
  width: 250px;
}

.span-border{
  border:outset thick #BDC0BA;
}

img {
   max-width: 100%;  /* 横幅に合わせて自動で拡大縮小する */
}

.thumbnail img {
  border-radius: 100px;
  height: 200px;
  width: 200px;
}

.new-btn {
  padding: 5px;
}

.logo img {
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 70px;

}
.mugi img {
    padding-top: 5px;
  padding-bottom: 5px;
  width: 70px;
}

.margin15 {
  margin: 15px;
}

.fixing-base .fixing-box {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ffffff;
  z-index: 2;
}

.schedule-meta {
    font-size: 16px;
    line-height: 30px;
    margin-top: 15px;
  }

p.blog {
  font-size: 17px;
    line-height: 30px;
  }

  .bottom-margin15 {
  margin-bottom: 15px;
}

.left-margin150 {
  margin-left: 150px;
}

.top-margin {
  margin-top: 50px;
}

.staff-top {
  padding-top: 50px;
  padding-bottom: 50px;
}

.dashboard {
  padding-bottom: 30px;
}

.dashboard h2 {
  color: #fff;
}

ul.product {
  background: #dadada;/*灰色に*/
  border-radius :8px;
  box-shadow :0px 0px 5px silver;
  padding: 0.5em 2em 0.5em 2em;
  color: #000;
}
ul.product li {
  line-height: 1.5;
  padding: 0.5em 0;
}


    .progressbar {
      margin: 0;
      padding: 0;
      counter-reset: step;
                  z-index: 0;
                  position: relative;
    }
    .progressbar li {
      list-style-type: none;
      width: 25%;
      float: left;
      font-size: 12px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      color: #aaa;
    }
    .progressbar li:before {
      width: 30px;
      height: 30px;
      content: counter(step);
      counter-increment: step;
      line-height: 30px;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      background-color: #eee;
    }
    .progressbar li:after {
      width: 100%;
      height: 2px;
      content: '';
      position: absolute;
      background-color: #eee;
      top: 15px;
      left: -50%;
      z-index: -1;
    }
    .progressbar li:first-child:after {
      content: none;
    }
    .progressbar li.active {
      color: green;
    }
    .progressbar li.active:before {
      background-color: #55b776;
      color:#fff;
    }
    .progressbar li.active + li:after {
      background-color: #55b776;
    }
 
    /* パターン2 */
    .progressbar_02 {
      margin: 0;
      padding: 0;
      counter-reset: step;
    }
    .progressbar_02 li {
      list-style-type: none;
      width: 25%;
      float: left;
      font-size: 12px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      color: #aaa;
      display: flex;
        align-items: center;
        justify-content: center;
    }
    .progressbar_02 li:before {
      width: 30px;
      height: 30px;
      content: counter(step);
      counter-increment: step;
      line-height: 26px;
      border: 2px solid #aaa;
      display: block;
      text-align: center;
      border-radius: 50%;
      background-color: #eee;
        margin-right: 10px;
    }
    .progressbar_02 li:first-child:after {
      content: none;
    }
    .progressbar_02 li.active {
      color: green;
      font-weight: bold;
    }
    .progressbar_02 li.active:before {
      background-color: #55b776;
      color:#fff;
      border-color:green;
    }
    .progressbar_02 li.active + li:after {
      background-color: #55b776;
    }

    .under {
  background: linear-gradient(transparent 50%, #8fbc8f 50%);
  color: #000;
  }

  .black {
    color: #000;
  }

  .float-right
    float: right;
  }

.absolute{
    position: absolute;
    left: 100px;
    top: 100px;
}

span.green{
  color:#8fbc8f;
  text-decoration: underline;
}