<div class="container">
	<div class="row">
		<div class="span8">
<div class="depot_form">
	<%= form_for @address,
				url: [:customer, :staff_member, :address] do |f| %>
	    
		<%= render 'form', f: f %>

<div class="actions">
	<%= link_to 'キャンセル', :customer_staff_member_addresses %>
</div>

	
<div class="actions">
	<%= f.submit "送り先を確定して、次へ" %>
</div>

</fieldset>

<% end %>
</div>
</div>
</div>
</div>