 <div class="container">
        <div class="margin15">
        <ul class="progressbar">
            <li>送り先選択</li>
            <li class="active">送り先確定</li>
            <li>注文確認</li>
            <li>確定</li>
        </ul>
      </div>
</div>

<div class="container">
	<div class="row">
		<div class="margin15">
<div class="depot_form">
	<%= form_for @address,
				url: [:customer, :staff_member, :address] do |f| %>
	    
		<%= render 'form', f: f %>

<div class="actions">
	<%= link_to 'キャンセル', :customer_staff_member_addresses %>
</div>


        <button type="submit" class="pure-button pure-button-primary">確定</button>
    </fieldset>
</form>

<% end %>
</div>
</div>
</div>
</div>