<div class="container">
        <div class="margin15">
        <ul class="progressbar">
            <li>送り先選択</li>
            <li>送り先確定</li>
            <li>注文確認</li>
            <li class="active">確定</li>
        </ul>
      </div>
</div>

<div class="container">
	<div class="row">
		<div class="margin15">
<% @title = 'ご注文いただき、誠にありがとうございます。' %>
<h3><%= @title %></h3>
<h5>ご注文日から3日以内に商品が発送されます。商品の到着まで、今しばらくお待ち下さい。</h5>
<h2>　</h2>
<h5>またのご利用を、心よりお待ちしております。</h5>
<h5>~自然からの愛を届ける~　shizencyokuhan.com</h5>
<div class="pull-left"><%= link_to 'TOPに戻る', :customer_root, {:class => "btn" } %></div>



  </div>

</div>
</div>


